---
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import Gallery from "../components/Gallery";
import { galleries } from "../data/galleries";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Paragraphs from "../components/Paragraphs.astro";
---

<Layout>
  <div class="container mx-auto px-4 py-10 text-center">
    <h1 class="mb-3 pt-5 text-4xl font-bold">
      JAI SCUDDER<br />
      PLUMBING AND PROPERTY MAINTENANCE
    </h1>
    <p class="pt-5 pb-3 italic">
      A local plumber that places an emphasis on quality and reputation.
    </p>
    <hr class="border-jsp my-4 border-2" />

    <div class="grid items-start gap-6 md:grid-cols-2">
      <Paragraphs />
    </div>
    <Services />
    <Gallery galleries={galleries} client:load />
    <Testimonials />
    <Contact />
  </div>
</Layout>
