---
import { testimonials } from "../data/testimonials";
---

<section class="py-16" id="testimonials">
  <div class="container mx-auto px-4">
    <h2 class="mb-12 text-center text-4xl font-bold">Testimonials</h2>
    <h3 class="mb-12 text-center">
      If you would like to leave your own testimonial please send them to
      <a href="mailto:mail@jaiscudderplumbing.co.uk"
        >mail@jaiscudderplumbing.co.uk</a
      >. All testimonials are appreciated. Thank you!
    </h3>
    {
      testimonials.map((testimonial) => (
        <div class="group relative overflow-hidden py-4">
          <p class="text-left font-bold">{testimonial.quote}</p>
          <p class="pt-4 pb-8 text-right">
            {testimonial.name}, {testimonial.location}
          </p>
        </div>
      ))
    }
  </div>
</section>
