---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import HeadSEO from "../components/HeadSEO.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const {
  title = "Jai Scudder - Plumbing and Property Maintenance",
  description = "A local plumber that places an emphasis on quality and reputation",
  ogImage = new URL("assets/images/headerLogo.svg", Astro.url),
} = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full w-full">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="h-full min-h-screen w-full bg-white text-black">
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
